


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Automatically generate quiz questions">
  <meta name="theme-color" content="#00557b" />

  <link href="/static/new-age.css" rel="stylesheet">


  <title>Study Buddy</title>
</head>
<body>


<div style="vertical-align: center; margin:auto; padding-top: 200px" class="form-group">
     <div class="jumbotron">
      <div class="container">
        <h2><strong>Choose File</strong></h2>
        <h4>An automatic quiz question generator</h4>
      </div>
    </div>




      <form>
    <div style="text-align:center; margin: auto;margin-bottom: 25px;" class="form-group">
      <label for="exampleFormControlFile1">Example file input</label>
      <input type="file" style="text-align:center; margin: auto;margin-bottom: 25px;" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </form>






            </div>
          </form>
        </div>
      </div>
    </div>
  </span>
</div>
