


<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="description" content="Automatically generate quiz questions">
  <meta name="theme-color" content="#00557b" />

  <link href="/static/new-age.css" rel="stylesheet">



  <title>Study Buddy</title>
</head>
<body>

<div style="vertical-align: center; margin:auto; padding-top: 200px" class="form-group">

     <div class="jumbotron">
      <div class="container">
				<h2><strong>Study Buddy</strong></h2>
        <h4>An automatic quiz question generator</h4>
      </div>
    </div>



   	<div style="text-align:center" class="form-group">
    <label style="text-align:center" for="exampleFormControlTextarea1">Enter text:</label>

    <form action="{{ url_for('submit') }}" method="post">
    <textarea style="text-align:center; margin: auto;margin-bottom: 25px; width: 70%" name= "text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <input class="btn btn-info" href="quizPage.html" type="submit">


</form>



  </div>
</div>
</nav>




</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </span>
</div>
